<h1>Welcome to the Keycloak OmniAuth Example</h1>

<% if session[:user_id] %>
  <p>You are signed in as <%= session[:user_id] %>.</p>
  <%= link_to 'Sign Out', signout_path %>
<% else %>
  <%= link_to 'Sign In with Keycloak', '/auth/keycloak_openid' %>
  <br/>
  <%- callback =  "http://localhost:3011/auth/keycloakopenid/callback" %>
  <%- path = "http://localhost:8080/realms/#{ENV['KEYCLOAK_REALM']}/protocol/openid-connect/auth?client_id=#{ENV['KEYCLOAK_CLIENT_ID']}&redirect_uri=#{callback}&response_type=code&scope=openid&state=af0ifjsldkj"%>
  
  <%= path %>
  <br/>
  <%= link_to 'Login with Keycloak', path %>

<% end %>
<!--
<br/>
<% if session[:user_id] %>
  <%= link_to 'Logout', logout_path %>
<% else %>
  <%- path = "http://localhost:8080/realms/#{ENV['KEYCLOAK_REALM']}/protocol/openid-connect/auth?client_id=#{ENV['KEYCLOAK_CLIENT_ID']}&redirect_uri=http://localhost:3011/users/auth/keycloakopenid/callback&response_type=code&scope=openid"%>
  
  <%= path %>
  <br/>
  <%= link_to 'Login with Keycloak', path %>
<% end %>
-->
<br/>
KEYCLOAK_CLIENT_ID (<%= ENV['KEYCLOAK_CLIENT_ID'] %>) 
<br/>
KEYCLOAK_CLIENT_SECRET (<%= ENV['KEYCLOAK_CLIENT_SECRET'] %>)
<br/>
KEYCLOAK_URL (<%= ENV['KEYCLOAK_URL'] %>) 
<br/>
KEYCLOAK_REALM (<%= ENV['KEYCLOAK_REALM'] %>) 
<br/>
  
